body {
  height: 125vh;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  line-height: 1.3em;
  font-size: 1.1em;
  background-color: rgb(230, 243, 183);
  margin-top: 80px;
  padding: 30px;
}

.HomePage {
  color: rgb(248, 112, 21);
  
}

.Tracker {
  color: rgb(248, 112, 21);
}

.Trackers {
  color: rgb(248, 112, 21);
}

.TrackerForm {
  color: rgb(248, 112, 21);
}

.MostRecent {
  color: rgb(248, 112, 21);
}


.NavBar {
  background-color: whitesmoke;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  height: 80px;
  font-size: 20px;
  padding: 20px;
  display: flex;
  box-shadow: 0 0 25px 0 black;
}

header img {
  height: 85px;
  border-radius: 20px;
  margin-left: 730px;
}

header * {
  display: inline;
  align-items: center;
}

h1 {
  font-size: 60px;
}

.MostRecent h3{
  color: darkgreen;
}

.Foods li{
  color: rgb(248, 112, 21);
}


.Trackers li{
  color: rgb(248, 112, 21);
  text-decoration: none;
}


h2 {
  color: darkgreen;
}

h3 {
  color: darkgreen;
}

h4 {
  color: darkgreen;
}

header li {
  margin: 35px;
  text-align: center;
  align-items: center;
  box-shadow: 5px 5px rgb(223, 243, 149);
}

header li a {
  color: darkgreen;
  font-weight: bold;
  text-decoration: none;
}

