body {
  height: 125vh;
  background-size: cover;
  font-family: sans-serif;
  font-weight: 100;
  line-height: 1.3em;
  font-size: 1.1em;
  background-color: whitesmoke;
  margin-top: 80px;
  padding: 30px;
}

.HomePage {
  color: rgb(245, 148, 83);
}

.Tracker {
  color: rgb(245, 148, 83);
}

.Trackers {
  color: rgb(245, 148, 83);
}

.TrackerForm {
  color: rgb(245, 148, 83);
}

.MostRecent {
  color: rgb(245, 148, 83);
}


.NavBar {
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  height: 80px;
  font-size: 20px;
  padding: 20px;
  display: flex;
  box-shadow: 0 0 25px 0 black;
}

header img {
  height: 80px;
  border-radius: 20px;
  margin-left: 15px;
}

header * {
  display: inline;
  align-items: center;
}



header li {
  margin: 50px;
  text-align: center;
  align-items: center;
}

header li a {
  color: darkgreen;
  font-weight: bold;
  text-decoration: none;
}