@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

li {
  text-decoration: none;
  list-style-type: circle;
}

/* ul {
  list-style-type: square;
} */

body {
  height: 125vh;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  line-height: 1.3em;
  font-size: 1.1em;
  background-color: #ffffff;
  /* margin-top: 10px; */
  padding: 30px;
}

.HomePage {
  color: rgb(248, 112, 21);
  text-align: center;
}

.Tracker {
  color: rgb(248, 112, 21);
}

.Trackers {
  color: rgb(248, 112, 21);
}

.TrackerForm p{
  color: darkgreen;
}

.MostRecent {
  color: rgb(248, 112, 21);
}


.NavBar {
  background-color: whitesmoke;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  height: 100px;
  font-size: 20px;
  padding: 25px;
  display: flex;
  box-shadow: 0 0 25px 0 black;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

.NavBar ul li a:hover {
  background-color: #333333;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
  background: transparent;
}

.NavBar ul li a {
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 7px;
}

.NavBar ul {
  text-align: center;
}

.NavBar ul li {
  display: inline-block;
  margin-left: -5px;
}

.HomePage ul li a {
  text-decoration: none;
}

.Trackers li a {
  text-decoration: none;
}


header * {
  display: inline;
  align-items: center;
}

h1 {
  font-size: 60px;
}

.Foods li{
  color: rgb(248, 112, 21);
}


.Trackers li{
  color: rgb(248, 112, 21);
  text-decoration: none;
}

h2 {
  color: darkgreen;
}

h3 {
  color: darkgreen;
}

h4 {
  color: darkgreen;
}

label {
  color: darkgreen;
}

header li {
  margin: 35px;
  border-radius: 20px;
  /* box-shadow: 5px 5px rgb(230, 241, 189); */
}

.NavBar {
  background-image: url('./images/caloreasecover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150px;
  position: relative;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  padding: 0 !important;
  margin: 0 !important;
  background-color: rgba(10, 10, 10, 0.3);
}

header li a {
  color: darkgreen;
  font-weight: bold;
  text-decoration: none;
}

